// MY THEME COLORS
$pink:    #cc3366;
$red:     #cc3300;
$red-light: #ff3366;


// WHITE AND GRAY COLORD
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $red;
$danger: $pink;
$secondary: $red-light;

//import bootstrap5
@import "../../node_modules/bootstrap/scss/bootstrap.scss"; 